.game-page-section {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
    }

    &__heading {
        margin-right: auto;
        font-size: 3rem;
        background-color: var(--black-opacity-5);
        box-shadow: 0 0 1rem 1rem var(--black-opacity-5);
        border-radius: 2rem;
    }

    &__main-image {
        max-height: 270px;
        max-width: 600px;
        box-shadow: 0 0 0.5rem black;
    }

    &__body-text {
        background-color: var(--black-opacity-5);
        box-shadow: 0 0 1rem 1rem var(--black-opacity-5);
        font-size: 1rem;
        border-radius: 2rem;
    }

    &__download-button {
        background: var(--button-gradient);
        border: 1px solid var(--image-hover-border);
        padding: 1rem 1.6rem;
        color: var(--text-hover);
        text-decoration: none;
        font-size: large;
        margin-right: auto;
        transition: color 0.2s ease-in-out;

        &:hover {
            background: var(--light-blue-hover);
            color: var(--text);
        }
    }

    &__slideshow {
        display: flex;
        flex-direction: column;
    }

    &__hero-image-container {
        width: 700px;
        height: 400px;
        margin: 48.160px auto 0 auto;
        box-shadow: 0 0 0.5rem black;
    }

    &__hero-image {
        width: 100%;
        height: 100%;
    }

    &__controls {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0.5rem auto 0 auto;
        width: 700px;
        max-height: 100px;
        box-shadow: 0 0 0.5rem black;
        border: solid 1px var(--image-hover-border);
    }

    &__images-container {
        display: flex;
        width: 100%;
        height: 100%;
    }

    &__images {
        max-width: auto;
        max-height: auto;

        &:hover {
            cursor: pointer;
        }
    }

    &__left-arrow {
        background: var(--button-gradient);
        border: none;
        border-right: 1px solid var(--image-hover-border);
        color: var(--text-hover);
        text-decoration: none;
        font-size: large;
        margin-right: auto;
        transition: color 0.2s ease-in-out;
        height: 100%;
        width: 4rem;

        &:hover {
            background: var(--light-blue-hover);
            color: var(--text);
            cursor: pointer;
        }
    }

    &__right-arrow {
        background: var(--button-gradient);
        border: none;
        border-left: 1px solid var(--image-hover-border);
        color: var(--text-hover);
        text-decoration: none;
        font-size: large;
        margin-right: auto;
        transition: color 0.2s ease-in-out;
        height: 100%;
        width: 4rem;

        &:hover {
            background: var(--light-blue-hover);
            color: var(--text);
            cursor: pointer;
        }
    }
}