<nav>
  {% if page.top_navigation %}
    {% include '@components/navigation-bar/navigation-bar.html.twig' with 
      { 
        items: page.top_navigation 
      } %}
  {% endif %}
</nav>

<header>
  {{ page.header }}
</header>

<main>
  {{ page.content }}
</main>

<footer>
  {% if page.footer %}
    {% include '@components/footer/footer.html.twig' with
      {
        content: page.footer
      } %}
  {% endif %}
</footer>
