.contact-message-feedback-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black-opacity-5);
    box-shadow: 0 0 1rem 1rem var(--black-opacity-5);
    border-radius: 2rem;
    margin: 2rem auto;
    max-width: 720px;
}

.js-form-item-name {
    margin: 0.5rem 0;
}

.js-form-item-mail {
    margin: 0.5rem 0;
}

.js-form-item-subject-0-value {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

.contact-message-feedback-form .form-text {
    background-color: var(--black-opacity-5);
    border: 1px solid var(--image-hover-border);
    font-size: medium;
    padding: 0.6rem;
    color: var(--text);
    width: 500px;
}

#edit-message-wrapper {
    margin: 0.5rem 0;
}

.js-form-item-message-0-value .text-full {
    background-color: var(--black-opacity-5);
    border: 1px solid var(--image-hover-border);
    font-size: medium;
    padding: 0.6rem;
    color: var(--text);
    width: 500px;
}

.js-form-type-checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem 0;
}

.form-checkbox {
    background-color: var(--black-opacity-5);
    border: 1px solid var(--image-hover-border);
    width: 1rem;
    height: 1rem;
}

.form-actions {
    margin: 0.5rem 0;
}

.js-form-submit {
    background: var(--button-gradient);
    border: 1px solid var(--image-hover-border);
    padding: 1rem 1.6rem;
    color: var(--text-hover);
    text-decoration: none;
    font-size: large;
    margin-right: auto;
    transition: color 0.2s ease-in-out;

    &:hover {
        background: var(--light-blue-hover);
        color: var(--text);
        cursor: pointer;
    }
}