.header-slideshow {
    position: relative;
    margin: 5rem auto;
    width: 800px;
    height: 400px;

    &__image-1 {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -45%) scale(1.2);
        width: 500px;
        height: 302px;
        z-index: 6;
        border: solid 1px var(--image-hover-border);
        transition: width 0.2s, height 0.2s;

        &:hover {
            width: 525px;
            height: 317px;
            box-shadow: 0px 0px 5px 0px var(--image-hover-border);
        }
    }

    &__image-2 {
        position: absolute;
        top: 45%;
        left: 35%;
        transform: translate(-65%, -55%) scale(1);
        width: 500px;
        height: 302px;
        z-index: 4;
        border: solid 1px var(--image-hover-border);
        transition: width 0.2s, height 0.2s;

        &:hover {
            width: 525px;
            height: 317px;
            box-shadow: 0px 0px 5px 0px var(--image-hover-border);
        }
    }

    &__image-3 {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -65%) scale(0.8);
        width: 500px;
        height: 302px;
        z-index: 2;
        border: solid 1px var(--image-hover-border);
        transition: width 0.2s, height 0.2s;

        &:hover {
            width: 525px;
            height: 317px;
            box-shadow: 0px 0px 5px 0px var(--image-hover-border);
        }
    }

    &__image-4 {
        position: absolute;
        top: 45%;
        left: 65%;
        transform: translate(-35%, -55%) scale(1);
        width: 500px;
        height: 302px;
        z-index: 4;
        border: solid 1px var(--image-hover-border);
        transition: width 0.2s, height 0.2s;

        &:hover {
            width: 525px;
            height: 317px;
            box-shadow: 0px 0px 5px 0px var(--image-hover-border);
        }
    }
}