:root {
  --bg-primary: rgba(10, 40, 90, 1);
  --bg-secondary: rgba(5, 24, 51, 1);
  --button-gradient: linear-gradient(45deg, rgb(0, 150, 255), rgb(0, 210, 255));
  --text: rgb(245, 245, 245);
  --text-hover: rgb(10, 40, 90);
  --image-hover-border: rgb(0, 210, 255);

  --color-games-box-bg: rgb(5, 24, 51);
  --color-footer-bg: rgb(5, 24, 51);
  --color-contact-right-bg: rgb(5, 55, 110);
  --color-scrollbar-thumb: rgba(10, 40, 90, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url("https://github.com/Edga380/hobbypage/blob/main/images/website/indexbg.png?raw=true");
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--bg-primary);
  background-size: cover;
  height: 100vh;
  color: var(--text);
  font-family: monospace;
}
