:root {
  --bg-primary: rgba(10, 40, 90, 1);
  --bg-secondary: rgba(5, 24, 51, 1);
  --button-gradient: linear-gradient(45deg, rgb(0, 150, 255), rgb(0, 210, 255));
  --text: rgb(245, 245, 245);
  --text-hover: rgb(10, 40, 90);

  --color-games-box-bg: rgb(5, 24, 51);
  --color-footer-bg: rgb(5, 24, 51);
  --color-contact-right-bg: rgb(5, 55, 110);
  --color-download-button-hover: rgb(50, 210, 255);
  --color-scrollbar-thumb: rgba(10, 40, 90, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-primary);
  color: var(--text);
  font-family: monospace;
}
